.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.normal:hover {
    background-color: #797a57;
    transition: .1s ease-in-out;
}

.grass {
    background-color: #77c850;
}

.grass:hover {
    background-color: #5ca934;
    transition: .1s ease-in-out;
}

.fire {
    background-color: #ee7f30;
}

.fire:hover {
    background-color: #d3681f;
    transition: .1s ease-in-out;
}

.water {
    background-color: #678fee;
}

.water:hover {
    background-color: #4b6dbf;
    transition: .1s ease-in-out;
}

.electric {
    background-color: #f7cf2e;
}

.electric:hover {
    background-color: #f0b83b;
    transition: .1s ease-in-out;
}

.ice {
    background-color: #98d5d7;
}

.ice:hover {
    background-color: #78b8b9;
    transition: .1s ease-in-out;
}

.ground {
    background-color: #dfbf69;
}

.ground:hover {
    background-color: #c2a350;
    transition: .1s ease-in-out;
}

.flying {
    background-color: #a98ff0;
}

.flying:hover {
    background-color: #8b6fce;
    transition: .1s ease-in-out;
}

.poison {
    background-color: #a040a0;
}

.poison:hover {
    background-color: #892d7d;
    transition: .1s ease-in-out;
}

.fighting {
    background-color: #bf3029;
}

.fighting:hover {
    background-color: #a12022;
    transition: .1s ease-in-out;
}

.psychic {
    background-color: #f65687;
}

.psychic:hover {
    background-color: #e33b6f;
    transition: .1s ease-in-out;
}

.dark {
    background-color: #725847;
}

.dark:hover {
    background-color: #5a4340;
    transition: .1s ease-in-out;
}

.rock {
    background-color: #b8a137;
}

.rock:hover {
    background-color: #a8932d;
    transition: .1s ease-in-out;
}

.bug {
    background-color: #a8b720;
}

.bug:hover {
    background-color: #8c9a18;
    transition: .1s ease-in-out;
}

.ghost {
    background-color: #6e5896;
}

.ghost:hover {
    background-color: #5a467b;
    transition: .1s ease-in-out;
}

.steel {
    background-color: #b9b7cf;
}

.steel:hover {
    background-color: #a6a2c2;
    transition: .1s ease-in-out;
}

.dragon {
    background-color: #6f38f6;
}

.dragon:hover {
    background-color: #5c2fd1;
    transition: .1s ease-in-out;
}

.fairy {
    background-color: #f9aec7;
}

.fairy:hover {
    background-color: #e89fbb;
    transition: .1s ease-in-out;
}


.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon:hover{
    transform: scale(210%);
    z-index: 7;
    transition: 0.2s ease-in-out;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    border: 15px solid #6c79db;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    background-color: #6c79db;
    border-radius: .5rem;
}

.pagination button:hover {
    background-color: #4a5294;
    border: 15px solid #4a5294;
    transition: .1s ease-in-out;
}

#themeToggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #0055ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#themeToggle:hover {
    background-color: #003399; /* Cor ao passar o mouse */
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}